/* App Container */
.app-container {
  padding-bottom: 3rem;
  flex: 1;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(67, 97, 238, 0.2);
  border-radius: 50%;
  border-top-color: var(--primary-color);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error-message {
  background-color: #ffebee;
  color: var(--error-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  margin: 1rem 0;
  text-align: center;
  font-weight: 500;
}

.success-message {
  background-color: #e8f5e9;
  color: var(--success-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  margin: 1rem 0;
  text-align: center;
  font-weight: 500;
}

.footer-femm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  color: #717171
}